*{
    font-family: 'Poppins', sans-serif;
    background-color:  #ffffff;
}





.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width:70vw;
    max-height:70vh ;
    /* margin:15rem 10rem 0 10rem; */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 3% 0;
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    
} 

.formWrapper form textarea {
  resize: none;
  height: 8rem;
  padding: 10px;
}

.formWrapper form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    /* width:100%; */
   
    
}

.container .formWrapper{
    width: 30vw;
    /* margin-left: 2vw; */
}



.formWrapper form input,
.formWrapper form button{
    padding: 13px;
}
.formWrapper form button{
    color: white;
    background-color: #34495E;
    cursor:pointer;
    transition: all 0.3s ease-in-out;

}


    

.formWrapper form button:hover{
    color: #34495E;
    background-color:  white;
    transition: all 0.3s ease-in-out;
}

.formWrapper form input,
.formWrapper form textarea,
.formWrapper form button{
    border-radius: 5px;
    border: 1px solid #ccc;
    
    
}

.formWrapper h1{
    margin: 0 0 10% 2rem;
    color: #34495E;
    font-size: 2rem;
}


.container .mapWrapper iframe{
    /* flex-basis: 50%; */
    border-radius:10px ;
    width: 30vw;
    height: 65vh;
    /* margin-right: 2vw; */
}





/* Media queries */



@media only screen and (max-width:992px){
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width:75vw;
        max-height:150vh ;
        padding-top: 1rem;
        gap: 3rem;
    }
    
   .container .mapWrapper iframe{
        height: 60vh;
        width: 55vw;
    }
    
    .container .formWrapper h1{
        font-size: 2rem;
        margin: 5vh auto 6vh auto ;
    }
    
    .container .formWrapper {
        width: 55vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    
}

@media only screen and (max-width:768px){

    .container{
        max-width:90vw;
        max-height: 150vh;  
    }

    .formWrapper form textarea {
        
        height: 5rem;  
    }

    
    .container .formWrapper{
        width: 65vw;
    }

    .container .mapWrapper iframe{
        height: 60vh;
        width: 65vw;
    }
     

}


@media only screen and (max-width:576px){

    .formWrapper form textarea {
        
        height: 2rem;
    }

 
}